main {
    height: 100vh;
    width: 100vw;
    background: var(--backColor);
    font-family: Arial, Helvetica, sans-serif;
}

.mainWrapper {
    width: 1200px;
    height: 100%;
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    padding-top: 50px;
}

.bodyLeft {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

button {
    cursor: pointer;
}

.bodyRight {
    width: 40%;
    height: 50%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: black; */
    /* color: wheat; */
    padding: 40px;
    border-radius: 5px;
    gap: 1rem;
}

.selectors {
    position: absolute;
    bottom: 50px;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.selector {
    width: max-content;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid grey;

}

.mainWrapper svg {
    height: 100%;
    width: 100%;
}

.mainWrapper svg stroke {
    color: var(--black);
}

svg path {
    color: var(--grey);
}

.body-map__muscle path {
    color: pink;
}

.body-map__muscle:hover path {
    color: aqua;
}

.genderSelectors {
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    gap: 1rem;
}

.select {
    background-color: pink;
}

.body {

    display: flex;
}

.skeleton {
    height: 100%;
    width: 100%;
    display: flex;
}

.skeleton svg {
    transform: translate(20%);
}

.skeleton svg path {
    color: var(--grey);
}

.skeleton svg g:hover path {
    color: teal;
}


.filters button {
    margin: 2px;
}

.loading {
    display: flex;
    gap: 0.2rem;
}

.loading span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 3rem; */
}

.loading span::before {
    content: '';
    height: 4px;
    width: 4px;
    background-color: black;
    border-radius: 50%;
}

.spantext {
    animation: appear 1ms forwards linear;
    animation-delay: calc(var(--i) * 10ms);
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}